.container {
    display: flex;

}
form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 500px;
    margin: 0 auto;
    padding: 15px;
}
.error {
    color: red;
}
.error input, .error textarea {
    border: 1px solid red;
}
div {
    padding: 10px;
}
#send {
    margin: 10px;
}
input {
    width: 470px;
    height: 20px;
}
.checkbox {
    display: flex;    
    width: 170px;
    margin: 20px;
    padding: 20px;
}