body {
    width: 100%;
    height: 100vh;
}
section {
    width: 100%;
    height: 100%;
}
.mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    background-color: aqua;
}

.one {

}
.two {



}
