/* Color Theme Swatches in Hex */
.blue-towel-with-hat-and-summer-beach--1-hex { color: #AED3F2; }
.blue-towel-with-hat-and-summer-beach--2-hex { color: #0477BF; }
.blue-towel-with-hat-and-summer-beach--3-hex { color: #048ABF; }
.blue-towel-with-hat-and-summer-beach--4-hex { color: #3C92A6; }
.blue-towel-with-hat-and-summer-beach--5-hex { color: #BFB19F; }

/* Color Theme Swatches in Hex */
.Copy-of-Копия-Copy-of-Happy-Halloween-1-hex { color: #17011F; }
.Copy-of-Копия-Copy-of-Happy-Halloween-2-hex { color: #5E1742; }
.Copy-of-Копия-Copy-of-Happy-Halloween-3-hex { color: #962E40; }
.Copy-of-Копия-Copy-of-Happy-Halloween-4-hex { color: #C9463D; }
.Copy-of-Копия-Copy-of-Happy-Halloween-5-hex { color: #FF5E35; }

/* Color Theme Swatches in Hex */
.Packaging---Frut74-Tropical-Juice-1-hex { color: #0D0B0C; }
.Packaging---Frut74-Tropical-Juice-2-hex { color: #BF930F; }
.Packaging---Frut74-Tropical-Juice-3-hex { color: #A64B17; }
.Packaging---Frut74-Tropical-Juice-4-hex { color: #8C2323; }
.Packaging---Frut74-Tropical-Juice-5-hex { color: #F24949; }

/* Color Theme Swatches in Hex */
.color-schemes-for-small-houses-1-hex { color: #CDD5C6; }
.color-schemes-for-small-houses-1-hex { color: #CDD5C6; }
.color-schemes-for-small-houses-1-hex { color: #CDD5C6; }
.color-schemes-for-small-houses-2-hex { color: #FBF2ED; }
.color-schemes-for-small-houses-3-hex { color: #B7BCBF; }

/* Color Theme Swatches in Hex */
.Balenciaga-—-Track-1-hex { color: #09A603; }
.Balenciaga-—-Track-2-hex { color: #055902; }
.Balenciaga-—-Track-3-hex { color: #022601; }
.Balenciaga-—-Track-4-hex { color: #79BF65; }
.Balenciaga-—-Track-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in Hex */
.Blackpink-in-Anime-Colors-1-hex { color: #8C1636; }
.Blackpink-in-Anime-Colors-2-hex { color: #F299B9; }
.Blackpink-in-Anime-Colors-3-hex { color: #8C3074; }
.Blackpink-in-Anime-Colors-4-hex { color: #B03BBF; }
.Blackpink-in-Anime-Colors-5-hex { color: #F27A5E; }

/* Color Theme Swatches in Hex */
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-1-hex { color: #6A0261; }
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-2-hex { color: #0487D9; }
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-3-hex { color: #04C4D9; }
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-4-hex { color: #04D99D; }
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-5-hex { color: #0DF205; }

/* Color Theme Swatches in Hex */
.Primary---Color-Blind-Safe-1-hex { color: #66DAFA; }
.Primary---Color-Blind-Safe-2-hex { color: #5CC253; }
.Primary---Color-Blind-Safe-3-hex { color: #FAF146; }
.Primary---Color-Blind-Safe-4-hex { color: #FF8C40; }
.Primary---Color-Blind-Safe-5-hex { color: #F5513D; }

/* Color Theme Swatches in Hex */
.The-Coast-in-Spring-VIII-1-hex { color: #1D2C40; }
.The-Coast-in-Spring-VIII-2-hex { color: #3D5473; }
.The-Coast-in-Spring-VIII-3-hex { color: #6581A6; }
.The-Coast-in-Spring-VIII-4-hex { color: #8BADD9; }
.The-Coast-in-Spring-VIII-5-hex { color: #BDD9F2; }

/* Color Theme Swatches in Hex */
.Office-Ocean-Funny-Illustration-Set-1-hex { color: #BF1B28; }
.Office-Ocean-Funny-Illustration-Set-2-hex { color: #F23D4C; }
.Office-Ocean-Funny-Illustration-Set-3-hex { color: #D97E85; }
.Office-Ocean-Funny-Illustration-Set-4-hex { color: #65B6BF; }
.Office-Ocean-Funny-Illustration-Set-5-hex { color: #56736D; }

